body {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#popUp {
    width: 250px;
    height: fit-content;
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: 0.7rem;

    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;

    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;

    box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
}

#popUp.visible {
    opacity: 1;
    transform: scale(1);
}

#popUp:hover {
    transform: scale(1.02);
}

#cookieContainer {
    top: 0;
    left: 0;
    width: 250px;
}

#textPopUp {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;

}

#popUpAgreeBtn {
    border: none;
    background-color: white;
    color: black;
    padding: 0.7rem 1.8rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0.7rem;

    transition: 0.3s ease;
    cursor: pointer;
}

#popUpAgreeBtn:hover {
    transform: scale(1.04);
}